<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.kitek.androidoutofmemory">

    <!-- To allow starting foreground services on Android P+ -  -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


</manifest>
